In [2]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [4]:
net_returns = pd.read_csv('net_returns.csv')
net_returns.head()

         date    return
0  2014-11-30  0.011636
1  2014-12-31  0.021954
2  2015-01-31  0.040887
3  2015-02-28 -0.002511
4  2015-03-31  0.017259

In [5]:
print(type(net_returns))
print(type(net_returns[['date','return']]))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [28]:
stats.ttest_1samp(net_returns[['return']],0)

Ttest_1sampResult(statistic=array([ 0.75963523]), pvalue=array([ 0.45321102]))

In [6]:
type(net_returns[
        ['return']])

pandas.core.frame.DataFrame

In [7]:
stats.ttest_1samp([1,2,3,4],0)

Ttest_1sampResult(statistic=3.872983346207417, pvalue=0.030466291662170977)

In [10]:
net_returns['return']

0     0.011636
1     0.021954
2     0.040887
3    -0.002511
4     0.017259
5     0.041697
6     0.033973
7     0.011809
8    -0.034297
9    -0.018000
10    0.042449
11    0.060487
12    0.004425
13   -0.011128
14    0.039041
15   -0.018535
16    0.051492
17    0.008987
18    0.040301
19   -0.070148
20   -0.037446
21   -0.057651
22    0.052808
23    0.048136
24    0.019070
25    0.023694
26   -0.022749
27   -0.077439
28    0.033248
29   -0.020916
30   -0.069554
31    0.003759
Name: return, dtype: float64

In [18]:
net_returns.iloc[0,1]

0.011635519414351007

In [19]:
net_returns.loc[0,'return']

0.011635519414351007