In [9]:
import pandas as pd
import numpy as np

In [17]:
groceries = pd.Series(data = [30, 6, 'Yes', 'No'],index = ['eggs', 'apples', 'milk', 'bread'])
groceries1 = pd.Series({'eggs':30, 'apples':6})
groceries1

apples     6
eggs      30
dtype: int64

In [3]:
groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [8]:
print(groceries.iloc[0:2])
print(groceries.loc[['eggs','apples']])

eggs      30
apples     6
dtype: object
eggs      30
apples     6
dtype: object

In [15]:
# We print some information about Groceries
print('Groceries has shape:', groceries.shape)
print('Groceries has dimension:', groceries.ndim)
print('Groceries has a total of', groceries.size, 'elements')
print(len(groceries))

Groceries has shape: (4,)
Groceries has dimension: 1
Groceries has a total of 4 elements
4

In [12]:
a = np.array([[1,3],[2,3]])
print(a.ndim)
print(a.size)

2
4

In [11]:
print('The data in Groceries is:', groceries.values)
print('The index of Groceries is:', groceries.index)

The data in Groceries is: [30 6 'Yes' 'No']
The index of Groceries is: Index(['eggs', 'apples', 'milk', 'bread'], dtype='object')

In [18]:
type(groceries.values)

numpy.ndarray

In [19]:
type(groceries.index)

pandas.core.indexes.base.Index

In [15]:
groceries.index[0]

'eggs'

In [20]:
# We access elements in Groceries using index labels:

# We use a single index label
print('How many eggs do we need to buy:', groceries.loc['eggs'])
print()

# we can access multiple index labels
print('Do we need milk and bread:\n', groceries[['milk', 'bread']]) 
print()

# we use loc to access multiple index labels
print('How many eggs and apples do we need to buy:\n', groceries.loc[['eggs', 'apples']]) 
print()

# We access elements in Groceries using numerical indices:

# we use multiple numerical indices
print('How many eggs and apples do we need to buy:\n',  groceries[[0, 1]]) 
print()

# We use a negative numerical index
print('Do we need bread:\n', groceries[[-1]]) 
print()

# We use a single numerical index
print('How many eggs do we need to buy:', groceries.iloc[0]) 
print()
# we use iloc to access multiple numerical indices
print('Do we need milk and bread:\n', groceries.iloc[[2, 3]])

How many eggs do we need to buy: 30

Do we need milk and bread:
 milk     Yes
bread     No
dtype: object

How many eggs and apples do we need to buy:
 eggs      30
apples     6
dtype: object

How many eggs and apples do we need to buy:
 eggs      30
apples     6
dtype: object

Do we need bread:
 bread    No
dtype: object

How many eggs do we need to buy: 30

Do we need milk and bread:
 milk     Yes
bread     No
dtype: object

In [21]:
# We create a Pandas Series that stores a grocery list of just fruits
fruits= pd.Series(data = [10, 6, 3,], index = ['apples', 'oranges', 'bananas',])

In [22]:
fruits

apples     10
oranges     6
bananas     3
dtype: int64

In [23]:
fruits/1

apples     10.0
oranges     6.0
bananas     3.0
dtype: float64

In [24]:
fruits[0] =20
fruits

apples     20
oranges     6
bananas     3
dtype: int64

In [25]:
fruits.drop('apples')

oranges    6
bananas    3
dtype: int64

In [26]:
distance_from_sun = [149.6, 1433.5, 227.9, 108.2, 778.6]

planets = ['Earth','Saturn', 'Mars','Venus', 'Jupiter']

# Create a Pandas Series using the above data, with the name of the planets as
# the index and the distance from the Sun as your data.
dist_planets = pd.Series(distance_from_sun, index=planets)

In [27]:
time_light = dist_planets/18
time_light

Earth       8.311111
Saturn     79.638889
Mars       12.661111
Venus       6.011111
Jupiter    43.255556
dtype: float64

In [28]:
time_light[time_light < 40]

Earth     8.311111
Mars     12.661111
Venus     6.011111
dtype: float64

In [29]:
# We create a dictionary of Pandas Series 
items = {'Bob' : pd.Series(data = [245, 25, '55'], index = ['bike', 'pants', 'watch']),
         'Alice' : pd.Series(data = [40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])}

In [30]:
# We create a DataFrame
df = pd.DataFrame(items)

# We display the DataFrame
df

         Alice  Bob
bike     500.0  245
book      40.0  NaN
glasses  110.0  NaN
pants     45.0   25
watch      NaN   55

In [52]:
print(df.iloc[0,0])
print(df.iloc[0])
print(df.iloc[0,])
print(df.iloc[:,0])
print(df[['Alice']])
print(df.loc[['bike','book'],'Alice'])
print(type(df.loc[['bike','book'],['Alice']]))
print(df.loc[:,'Alice'])
print(df.loc['bike'])
print(df.loc[:,'Alice'])

500.0
Alice    500
Bob      245
Name: bike, dtype: object
Alice    500
Bob      245
Name: bike, dtype: object
bike       500.0
book        40.0
glasses    110.0
pants       45.0
watch        NaN
Name: Alice, dtype: float64
         Alice
bike     500.0
book      40.0
glasses  110.0
pants     45.0
watch      NaN
bike    500.0
book     40.0
Name: Alice, dtype: float64
<class 'pandas.core.frame.DataFrame'>
bike       500.0
book        40.0
glasses    110.0
pants       45.0
watch        NaN
Name: Alice, dtype: float64
Alice    500
Bob      245
Name: bike, dtype: object
bike       500.0
book        40.0
glasses    110.0
pants       45.0
watch        NaN
Name: Alice, dtype: float64

In [31]:
df.values

array([[500.0, 245],
       [40.0, nan],
       [110.0, nan],
       [45.0, 25],
       [nan, '55']], dtype=object)

In [32]:
type(df.values)

numpy.ndarray

In [85]:
# We create a list of Python dictionaries
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35}, 
          {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5}]

# We create a DataFrame  and provide the row index
store_items = pd.DataFrame(items2, index = ['store 1', 'store 2'])

# We display the DataFrame
#store_items.column=(['bikes','glasses','pants','watches'])
store_items

         bikes  glasses  pants  watches
store 1     20      NaN     30       35
store 2     15     50.0      5       10

In [16]:
type(store_items['bikes'])

pandas.core.series.Series

In [6]:
type(store_items[['bikes']])

pandas.core.frame.DataFrame

In [11]:
type(store_items.loc[['store 1']])

pandas.core.frame.DataFrame

In [54]:
store_items.iloc[0].loc['bikes']

20.0

In [56]:
store_items['shirts'] = [15,2]
store_items[['shirts']]

         shirts
store 1      15
store 2       2

In [89]:
#store_items = store_items.drop(['watches'],axis = 1)
test = store_items.drop('store 1',axis = 0)
print(store_items.columns)
print(store_items.index)
print(test)
print(store_items)
#Drop function return new object. Not modifying in place.

Index(['bikes', 'glasses', 'pants'], dtype='object')
Index(['store 1', 'store 2'], dtype='object')
         bikes  glasses  pants
store 2     15     50.0      5
         bikes  glasses  pants
store 1     20      NaN     30
store 2     15     50.0      5

In [90]:
store_items = store_items.set_index('pants')
store_items.loc[30]

bikes      20.0
glasses     NaN
Name: 30, dtype: float64

In [91]:
items2 = [[20, 30, 35], 
          [10, 50, 15, 5]]

In [92]:
store_items = pd.DataFrame(items2)

In [95]:
print(store_items.loc[0,0])
print(store_items.iloc[0,0])

20
20

In [96]:
store_items.index=['s1','s2']
store_items.columns = ['i1','a2','i3','i4']

In [97]:
type(store_items.columns)

pandas.core.indexes.base.Index

In [98]:
store_items

    i1  a2  i3   i4
s1  20  30  35  NaN
s2  10  50  15  5.0

In [99]:
store_items.iloc[0,:]

i1    20.0
a2    30.0
i3    35.0
i4     NaN
Name: s1, dtype: float64

In [100]:
store_items.loc['s1','i1']

20

In [101]:
items2 = [{'i1': 20, 'a1': 30, 'c1': 35}, 
          {'i1': 10, 'b1':50, 'a1':15, 'd1':5}]

In [102]:
si=pd.DataFrame(items2)
si

   a1    b1    c1   d1  i1
0  30   NaN  35.0  NaN  20
1  15  50.0   NaN  5.0  10

In [103]:
si.columns=['b1','a1','c1','d1','i1']
si

   b1    a1    c1   d1  i1
0  30   NaN  35.0  NaN  20
1  15  50.0   NaN  5.0  10

In [104]:
Good_stock = pd.read_csv('goog-1.csv')

In [105]:
Good_stock.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2004-08-19  49.676899  51.693783  47.669952  49.845802  49.845802  44994500
1  2004-08-20  50.178635  54.187561  49.925285  53.805050  53.805050  23005800
2  2004-08-23  55.017166  56.373344  54.172661  54.346527  54.346527  18393200
3  2004-08-24  55.260582  55.439419  51.450363  52.096165  52.096165  15361800
4  2004-08-25  52.140873  53.651051  51.604362  52.657513  52.657513   9257400

In [117]:
Good_stock.isnull().any(axis = 1)
Good_stock.isnull().any(axis = 0)

Date         False
Open         False
High         False
Low          False
Close        False
Adj Close    False
Volume       False
dtype: bool

In [7]:
type(Good_stock.isnull().any())

pandas.core.series.Series

In [108]:
Good_stock['Date'].dtype

dtype('O')

In [109]:
Good_stock['Open'].dtype

dtype('float64')

In [110]:
Good_stock.describe()

,Open,High,Low,Close,Adj Close,Volume
count,3313.000000,3313.000000,3313.000000,3313.000000,3313.000000,3.313000e+03
mean,380.186092,383.493740,376.519309,380.072458,380.072458,8.038476e+06
std,223.818650,224.974534,222.473232,223.853780,223.853780,8.399521e+06
min,49.274517,50.541279,47.669952,49.681866,49.681866,7.900000e+03
25%,226.556473,228.394516,224.003082,226.407440,226.407440,2.584900e+06
50%,293.312286,295.433502,289.929291,293.029114,293.029114,5.281300e+06
75%,536.650024,540.000000,532.409973,536.690002,536.690002,1.065370e+07
max,992.000000,997.210022,989.000000,989.679993,989.679993,8.276810e+07

In [119]:
Good_stock.groupby(['Date','High'])['Open','Low'].mean()

                             Open         Low
Date       High
2004-08-19 51.693783    49.676899   47.669952
2004-08-20 54.187561    50.178635   49.925285
2004-08-23 56.373344    55.017166   54.172661
2004-08-24 55.439419    55.260582   51.450363
2004-08-25 53.651051    52.140873   51.604362
2004-08-26 53.626213    52.135906   51.991844
2004-08-27 53.959049    53.700729   52.503513
2004-08-30 52.404160    52.299839   50.675404
2004-08-31 51.519913    50.819469   50.749920
2004-09-01 51.152302    51.018177   49.512966
2004-09-02 50.854240    49.274517   49.150326
2004-09-03 50.541279    50.148830   49.339096
2004-09-07 50.670437    50.178635   49.483158
2004-09-08 51.182110    50.044510   49.925285
2004-09-09 51.023144    50.933723   50.173668
2004-09-10 52.935703    50.471729   50.322701
2004-09-13 53.854729    52.970478   52.886028
2004-09-14 55.638126    53.377831   53.049961
2004-09-15 56.745922    54.922779   54.743942
2004-09-16 57.525848    55.807030   55.464260
2004-09-17 58.365391    56.840309   56.408119
2004-09-20 60.407108    58.097134   58.007717
2004-09-21 59.820923    59.517895   58.375324
2004-09-22 59.448345    58.320679   58.027588
2004-09-23 60.918781    59.036026   58.131908
2004-09-24 61.649033    60.079243   59.493053
2004-09-27 60.049435    59.393700   58.519386
2004-09-28 63.288372    60.258080   59.716602
2004-09-29 67.073753    62.940632   62.707150
2004-09-30 65.722542    64.530296   64.083199
...                           ...         ...
2017-09-01 942.479980  941.130005  935.150024
2017-09-05 937.000000  933.080017  921.960022
2017-09-06 930.914978  930.150024  919.270020
2017-09-07 936.409973  931.729980  923.619995
2017-09-08 936.989990  936.489990  924.880005
2017-09-11 938.380005  934.250000  926.919983
2017-09-12 933.479980  932.590027  923.861023
2017-09-13 937.250000  930.659973  929.859985
2017-09-14 932.770020  931.250000  924.000000
2017-09-15 926.489990  924.659973  916.359985
2017-09-18 922.080017  920.010010  910.599976
2017-09-19 922.419983  917.419983  912.549988
2017-09-20 933.880005  922.979980  922.000000
2017-09-21 936.530029  933.000000  923.830017
2017-09-22 934.729980  927.750000  926.479980
2017-09-25 926.400024  925.450012  909.700012
2017-09-26 930.820007  923.719971  921.140015
2017-09-27 949.900024  927.739990  927.739990
2017-09-28 950.690002  941.359985  940.549988
2017-09-29 959.786011  952.000000  951.510010
2017-10-02 962.539978  959.979980  947.840027
2017-10-03 958.000000  954.000000  949.140015
2017-10-04 960.390015  957.000000  950.690002
2017-10-05 970.909973  955.489990  955.179993
2017-10-06 979.460022  966.700012  963.359985
2017-10-09 985.424988  980.000000  976.109985
2017-10-10 981.570007  980.000000  966.080017
2017-10-11 990.710022  973.719971  972.250000
2017-10-12 994.119995  987.450012  985.000000
2017-10-13 997.210022  992.000000  989.000000

[3313 rows x 2 columns]

In [115]:
Good_stock.sum(axis = 1)

0       4.499475e+07
1       2.300606e+07
2       1.839347e+07
3       1.536207e+07
4       9.257663e+06
5       7.148465e+06
6       6.258566e+06
7       5.235957e+06
8       4.955055e+06
9       9.207051e+06
10      1.523235e+07
11      5.191249e+06
12      5.891551e+06
13      5.023253e+06
14      4.092354e+06
15      8.764458e+06
16      7.903167e+06
17      1.091047e+07
18      1.079378e+07
19      9.336082e+06
20      9.543788e+06
21      1.070880e+07
22      7.283195e+06
23      7.638293e+06
24      8.599898e+06
25      9.192200e+06
26      7.119395e+06
27      1.705641e+07
28      3.074592e+07
29      1.386162e+07
            ...
3283    9.520934e+05
3284    1.331049e+06
3285    1.532336e+06
3286    1.217364e+06
3287    1.016151e+06
3288    1.271658e+06
3289    1.139054e+06
3290    1.107268e+06
3291    1.402238e+06
3292    2.510008e+06
3293    1.311483e+06
3294    9.412960e+05
3295    1.674442e+06
3296    1.295258e+06
3297    1.057346e+06
3298    1.861403e+06
3299    1.671525e+06
3300    2.244094e+06
3301    1.025032e+06
3302    1.585782e+06
3303    1.288177e+06
3304    8.930767e+05
3305    9.571714e+05
3306    1.218622e+06
3307    1.178767e+06
3308    8.962955e+05
3309    9.732728e+05
3310    1.698215e+06
3311    1.267342e+06
3312    1.162658e+06
Length: 3313, dtype: float64